<h1>Hello World!</h1>

  <ol>
 <h1>My To-Do List</h1>
 <input placeholder="Name of Item"/>  <input type="number" placeholder= "Number"/><input type="Submit" value="Add New" class="Submitbutton"/>

    <li><input type="checkbox" checked="checked"/><a href="show.html">Make the Curriculum</a><span class="pomodorosestimate"> 4 pomodoros </span> </li>
    <li><input type="checkbox"/>Buy workshop supplies<span class="pomodorosestimate">3 pomodoros> </li>
    <li><input type="checkbox"/>Meet with volunter trainers <span class="pomodorosestimate"3 pomodoros></li>
    <li><input type="checkbox"/>Order food for Saturday and Sunday <span class="pomodorosestimate"><class="pomodorosestimate">1 pomodoros></span></li>
    <li><input type="checkbox"/>Check pre-work assignments<span class="pomodorosestimate">2 pomodoros</span></li>
    <li><input type="checkbox"/>Send workshop location to all the students <span class="pomodorosestimate">1 pomodoros</span></li>
    <li><input type="checkbox"/>Have a great workshop <span class="pomodorosestimate">0 pomodoros</span></li>
    <li><input type="checkbox"/>Add todo</li>
    </ol>
    <img 
        src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12213613/Chihuahua-onWhite-13.jpg"