<h1>Add Todo</h1>

<form action="/todo/create">
    <input class="text-input" id="new-tod-description" name= "description" type="text" placeholder="Add Todo">
    <input class="text-input" id="new-pomodoro_estimate" name="pomodoro_estimate" type="number" placeholder="Pomodoro estimate...">
    <input class="button" id="add-new-todo-todo-button" type="submit" value="Add Todo">
    
    
</form>