  <h1>My To-Do List</h1>
  
<h3>Todo #<%= params[:id] %></h3>
      <input type="checkbox"/> <h2><%= @title %></h2>
  <h4>4 Pomodoros</h4>
  <a>Edit</a>   <a>Delete</a>   <a href="index.html" class="backbutton">Go Back</a> 

